@*
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"
    />
    <link rel="stylesheet" href="https://code.jquery.com/jquery-3.2.1.min.js" />
    <link rel="stylesheet" href="/css/DangNhap.css" />
  </head>
  <body>
      <video id="background-video" autoplay loop muted poster="MyVideo">
  <source src="/Images/video_dt.mp4" type="video/mp4">
</video>
    <section id="form">
      <div id="toggle-forms">
        <button class="waves-effect waves-light active" id="login">
          Đăng Nhập
        </button>
        <button class="waves-effect waves-light" id="register">Đăng ký</button>
      </div>
      <form class="col s12">
        <div class="row center-align">
          <h4 class="white-text">Đăng Nhập</h4>
        </div>
        <div class="row">
          <div class="input-field">
            <input id="email" type="email" class="validate" />
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <input id="password" type="password" class="validate" />
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row center-align">
          <button class="btn waves-effect waves-light">Đăng Nhập</button>
        </div>
        <p class="forgot">Quên Mật Khẩu?</p>
        <ul class="animate">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </form>
      <form class="col s12">
        <div class="row center-align">
          <h4 class="white-text">Đăng Kí</h4>
        </div>
        <div class="row">
          <div class="input-field">
            <input id="hoten" type="text" class="validate" />
            <label for="hoten">Họ tên</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <input id="ngaysinh" type="date" class="validate" />
            <label for="ngaysinh">Ngày Sinh</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <input id="gioitinh" type="text" class="validate" />
            <label for="gioitinh">Giới Tính</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <input id="email" type="email" class="validate" />
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <input id="address" type="text" class="validate" />
            <label for="address">Address</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <input id="phone_number" type="number" class="validate" />
            <label for="phone_number">Số Điện Thoại</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field">
            <input id="password" type="password" class="validate" />
            <label for="password">Mật Khẩu</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <input id="Retype password" type="password" class="validate" />
            <label for="Retype password">Nhập Lại Mật Khẩu</label>
          </div>
        </div>
        
        <div class="row center-align">
          <button class="btn waves-effect waves-light">Đăng Ký</button>
        </div>
        <ul class="animate">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </form>
    </section>
    <script src="/js/DangNhap.js"></script>
  </body>
</html>
*@